
<%= form_for @submission do |form| %>


<h1>Add your message</h1>


  <p>
    <%= form.label :user %><br>
    <%= form.text_field :user %>
  </p>

  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </p>

  <p>
    <%= form.label :caption %><br>
    <%= form.text_field :caption %>
  </p>

  <p>
    <%= form.label :photo %><br>
    <%= form.text_area :photo %>
  </p>

  <p>
    <%= form.label :video %><br>
    <%= form.text_area :video %>
  </p>
  <p>
    <%= form.label :message %><br>
    <%= form.text_area :message %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
